.uiDropdown {
	position: relative;
	width: 100%;
}

.selectedTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	border: 1px solid #545454;
	border-radius: 4px;
	font: inherit;
	background-color: black;
}

.selectedTitle:hover {
	background: #484848;
	cursor: pointer;
	transition: background 0.3s ease;
}

.selectedIcon {
	transform: rotate(90deg);
}

.selectedIconActive {
	transform: rotate(-90deg);
	transition: transform 0.3s ease;
}

.list {
	position: absolute;
	display: flex;
	flex-direction: column;

	border: 1px solid #545454;
	border-radius: 4px;

	width: 100%;
	background-color: black;
	z-index: -1;

	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.list.show {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 2;
}

.item {
	display: flex;
	font: inherit;
	padding: 5px;
}

.item:hover {
	background: #484848;
	cursor: pointer;
	transition: background 0.3s ease;
}

.itemActive {
	background: #484848;
	cursor: auto;
}

.itemDisabled {
	background: #7c7c7c;
	cursor: auto;

	pointer-events: none;
}

.uiDropdownDisabled {
	pointer-events: none;
	background: #7c7c7c;
}
