.popup {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgb(0, 0, 0, 0.5);
	align-items: center;
}

.popup__container {
	margin: 0 auto;
	width: 430px;
	background-color: #fff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.popup__title {
	color: #000;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	margin: 34px 36px 48px;
}

.popup__form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popup__submit-button {
	width: 358px;
	height: 50px;
	color: #fff;
	background-color: #000;
	border: 0;
	border-radius: 2px;
	align-self: center;
	margin: 19px 0 37px;
	padding: 0;
	cursor: pointer;
	text-align: center;
}

.popup__submit-button:hover {
	opacity: .8;
}

.popup__close-button {
	position: absolute;
	background-image: url(../../../images/close-icon.svg);
	width: 32px;
	height: 32px;
	border: 0;
	background-color: rgb(0, 0, 0, 0);
	top: -40px;
	right: -40px;
	cursor: pointer;
	background-size: cover;
}

.popup__close-button:hover {
	opacity: .6;
}



@media screen and (max-width: 550px) {
	.popup__container {
		width: 282px;
	}

	.popup__title {
		margin: 25px 22px 75px;
		font-size: 18px;
		line-height: 22px;
	}

	.popup__form {
		padding-bottom: 25px;
	}

	.popup__submit-button {
		margin: 15px 0 25px;
		width: 238px;
		height: 46px;
		font-size: 14px;
		line-height: 17px;
	}

	.popup__close-button {
		width: 20px;
		height: 20px;
		top: -36px;
		right: 0;
	}
}