.profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}

.profile-container {
	display: flex;
	gap: 30px;
}

.avatar-container {
	position: relative;
}

.avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
}

.avatar-edit-btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 120px;
	border: 0;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0);
	cursor: pointer;
}

.avatar-edit-btn:hover {
	background: rgba(0, 0, 0, 0.8);
	background-image: url(../../images/eddit-button.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px;
}

.profile-info {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 8px 24px;
}

.profile-name {
	max-width: 500px;
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;
	align-self: flex-end;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.profile-edit-btn {
	padding: 0;
	margin: 0 0 10px;
	width: 24px;
	height: 24px;
	border: 1px solid #fff;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../../images/eddit-button.svg);
	background-repeat: no-repeat;
	background-position: center;
	align-self: flex-end;
	cursor: pointer;
}

.profile-edit-btn:hover {
	opacity: 0.6;
}

.profile-description {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 22px;
	max-width: 500px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.profile-add-button {
	padding: 0;
	margin: 0;
	width: 150px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../../images/add-button.svg);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.profile-add-button:hover {
	opacity: .6;
}

@media screen and (max-width: 880px) {
	.profile {
		flex-direction: column;
		gap: 30px;
	}

	.profile-container {
		padding: 0 20px;
	}

	.profile-description {
		font-size: 14px;
		line-height: 17px;
	}

	.profile-add-button {
		width: 282px;
		background-size: 16px;
	}

	.profile-edit-btn {
		width: 18px;
		height: 18px;
		margin: 0 0 6px;
	}

	.profile-name {
		font-size: 27px;
		line-height: 33px;
		padding-right: 0;
		text-align: center;
	}

	.avatar {
		align-self: center;
	}
}