.profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profileContainer {
	position: relative;
	display: flex;
	gap: 30px;
}



@media screen and (max-width: 880px) {
	.profile {
		flex-direction: column;
		gap: 30px;
	}
}