.placeCard {
	position: relative;
	background-color: #fff;
	width: 100%;
	border-radius: 10px;
}

.removeBtn {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	top: 18px;
	right: 15px;
}

.removeBtn:hover {
	opacity: .6;
	cursor: pointer;
}

.placesImg {
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 282px;
	object-fit: cover;
}

.placesImg:hover {
	cursor: pointer;
}

.placeInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 22px 20px 25px;
}

.placeTitle {
	max-width: 190px;
	color: #000;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.likeContainer {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.likeBtn {
	background: transparent;
}

.likeBtn:hover {
	cursor: pointer;
	opacity: .5;
}

.likeCounter {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #000000;
}