.overlay {
	position: fixed;

	display: flex;
	align-items: center;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgb(0, 0, 0, 0.5);
}

.modal {
	position: relative;
	display: flex;
	flex-direction: column;

	margin: 0 auto;
	padding: 20px 15px;

	min-width: 100px;
	min-height: 10px;
	max-width: 80vw;

	background-color: #fff;
	border-radius: 10px;
	color: black;
}

.modalImage {
	position: relative;

	margin: 0 auto;

	max-width: 80vw;
	max-height: 70vh;

	background-color: transparent;
}

.closeBtn {
	position: absolute;
	top: -30px;
	right: -30px;
}

.closeBtn:hover {
	opacity: .6;
	cursor: pointer;
	transition: opacity 0.2s ease;
}


@media screen and (max-width: 550px) {
	.closeBtn {
		right: -25px;
	}

	.modalImage {
		max-width: 75vw;
	}
	.modal {
		max-width: 75vw;
	}
}