.places {
	margin-top: 20px;
}

.cardsControls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.addBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 0;
	border: 2px solid #fff;
	border-radius: 10px;
	cursor: pointer;
}

.addBtn:hover {
	opacity: .6;
}

.dropdownWrapper {
	display: flex;
	align-items: center;
}

.dropdown {
	width: 60px;
}

.dropdownTitle {
	font-size: 16px;
	line-height: 20px;
	margin-right: 4px;
}

.cards {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
	gap: 20px 17px;
	justify-content: center;
}

.paginator {
	margin-top: 20px;
}

@media screen and (max-width: 880px) {
	.cards {
		padding: 0 20px 0;
	}

	.cardsControls {
		padding: 0 20px;
		gap: 15px;
	}

	.dropdownWrapper {
		width: auto;
	}

	.dropdownTitle {
		font-size: 14px;
		line-height: 18px;
	}
}

@media screen and (max-width: 320px) {
	.places {
		margin-top: 36px;
	}
}